/* Write your CSS code here */
.each-item {
  list-style-type: none;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
}
.name-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  margin-right: 10px;
}
